/site
/build
/dist
/venv
*.egg-info
*.pyc
*.pdf
*.log
*.var
*.var.bak
*.pref
*.halscope
.tmp*
.idea/
*~
*#

# Compiled Qt resource and ui files
*_rc.py
*_ui.py

# update INI backups
sim/*.old

# sphinx
/docs/build

# debian packages
*.deb
