/site
/build
/dist
/venv
*.egg-info
*.pyc
*.qmlc
*.pdf
*.log
*.var
*.var.bak
*.pref
*.halscope
.tmp*
.idea/
*~
*#
*.temp
*.bak

# Compiled Qt resource and ui files
*_rc.py
*_ui.py

# sphinx
/docs/build

# debian packages
*.deb

# update INI backups
linuxcnc/configs/**/*.old

# persistent data files
linuxcnc/configs/**/.*.json
linuxcnc/configs/**/.*.pickle
qtpyvcp/.settings/
qtpyvcp/.pydevproject
qtpyvcp/.project
/.project
/.pydevproject

.settings/

.vscode/

docs/source/_build/

.pybuild/

.debian/changelog
DEBIAN/
tmp/

poetry.lock

.qtc_clangd/compile_commands.json

qtpyvcp.cflags

qtpyvcp.config

qtpyvcp.creator

qtpyvcp.creator.user

qtpyvcp.cxxflags

qtpyvcp.files

qtpyvcp.includes
.clang-format

