recursive-include examples *.yml *.yaml *.ui *.qss *qrc *.qml *.png
recursive-include qtpyvcp *.yml *.yaml *.ui *.qss *qrc *.qml *.png
recursive-include video_tests
include versioneer.py
include qtpyvcp/_version.py
