recursive-include src/examples *.yml *.yaml *.ui *.qss *.qrc *.qml *.png
recursive-include src/qtpyvcp *.yml *.yaml *.ui *.qss *.qrc *.qml *.png
recursive-include src/video_tests
recursive-include linuxcnc *.*

include versioneer.py
include qtpyvcp/_version.py
