Package: python3-qtpyvcp
Source: qtpyvcp
Version: 0.4-1
Architecture: all
Maintainer: Kcjengr <kcjengr@gmail.com>
Installed-Size: 6657
Depends: python3:any (>= 3.7~), python3-setuptools, python3-yaml, python3-pyqt5, python3-dbus.mainloop.pyqt5, python3-pyqt5.qtopengl, python3-pyqt5.qsci
Section: cnc
Priority: optional
Homepage: https://qtpyvcp.com
Description: QtPyVCP is a Qt and Python based framework for building virtual control panels for the LinuxCNC machine control.
