Source: qtpyvcp
Section: cnc
Priority: optional
Maintainer: TurBoss <j.l.toledano.l@gmail.com>
Build-Depends: debhelper-compat (= 13), dh-python, python3-setuptools, python3-all
Standards-Version: 4.5.1
Homepage: https://qtpyvcp.com
Vcs-Git: https://github.com/kcjengr/qtpyvcp.git
#Testsuite: autopkgtest-pkg-python
Rules-Requires-Root: no

Package: python3-qtpyvcp
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Suggests: python-qtpyvcp-doc
Description: QtPyVCP is a Qt and Python based framework for building virtual control panels for the LinuxCNC machine control.

Package: python-qtpyvcp-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: QtPyVCP is a Qt and Python based framework for building virtual control panels for the LinuxCNC machine control.