#!/usr/bin/make -f

export PYBUILD_SYSTEM=pyproject

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:

override_dh_install:
	dh_install
	debian/python3-qtpyvcp/usr/bin/qcompile debian/python3-qtpyvcp
